<div class="header">
  <div class="container">
    <%= image_tag ("comment_icon.svg"), class: "img-responsive", height: 50 %>
    <h1>Ajouter un commentaire</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    <%= form_for(@comment) do |f| %>
      <div class="field">
        <%= f.label 'Commentaire' %><br>
        <%= f.text_area :content %>
        <%= f.hidden_field :ticket_id, value: params[:id] %>
      </div>
      <div class="actions">
        <%= f.submit "Ajouter" %>
      </div>
    <% end %>
  </div>
</div>
