<!DOCTYPE html>
<html>
  <head>
    <title>Gestionnaire de tickets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- TODO: fix Webpacker::Manifest::MissingEntryError in Tickets#index-->
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header navbar">
      <div class="container">

        <%= link_to root_path do %>
          <%= image_tag ("ticket_logo.svg"), class: "img-responsive", height: 50 %>
        <% end %>

        <div class="nav pull-right">
          <% if current_user %>
            <ul>
              <li><%= current_user.email %></li>
              <li><%= link_to "Log out", logout_path, method: 'delete' %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to "Login", 'login' %></a></li>
              <li><%= link_to "Signup", 'signup' %></a></li>
            </ul>
          <% end %>
        </div>

      </div>
    </div>

    <%= yield %>

  </body>
</html>
